<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css')}}">
    <script src="{{ url_for ('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <!-- <script type='text/javascript' src="{{ url_for('static', filename='js/logic.js') }}"></script> -->
    <title>WAPI test</title>
</head>

<body>
    <input type="number" id="numberInput">
    <button id="startButton">Start</button>
    <div>
        <textarea id="textDiv" class="divStyle"></textarea>
    </div>
    <script>
        $("#startButton").on("click", function () {
            let inputNumber = $("#numberInput").val();
            $.ajax({
                type: "POST",
                url: "/background_process_loop",
                data: {
                    input_number: inputNumber
                },
                dataType: "json",
                complete: function () {
                    console.log("completed");                       
                },
                success: function (response) {
                    console.log("success", response);
                    $('#textDiv').val(response.join('\n'));
                },
                error: function (e, r, status) {
                    console.log("error", status);
                }
            });
        });
    </script>
</body>

</html>